{% extends 'base.html' %}



{% block body %}
	<h2>Kevin Fosnacht, Ph.D.</h2>
	<p>
	<a href="https://www.linkedin.com/in/kfosnacht/">Dr. Fosnacht</a> is a quantitative researcher focusing on education outcomes with over 10 years of post-doctoral experience. 
	He has over 20 peer-reviewed publications, contributed to numerous reports, and have been frequently featured in both the popular and trade presses.

	Kevin served as a faculty research scientist at Indiana University, where he was part of a team administering North America's largest survey of 
	undergraduates for about a decade. More recently Dr Fosnacht transitioned to ed-tech where he researches and assesses product impact, 
	contributes to product development, and conducts product analytics. 
	
	Kevin is currently a student pursuing a data science certificate at <a href="https://www.indiana.edu/">Indiana University, Bloomington</a> in the 
<a href="https://luddy.indiana.edu/">Luddy School of Informatics, Computing, and Engineering</a>
 .
	</p>
	
	<h2>Rosemarie Lerma</h2>
	<p><a href="https://www.linkedin.com/in/rosemarie-lerma-2358794b/">Rosemarie Lerma</a> is a doctoral student in <a href="https://polisci.indiana.edu/">Political Science</a> at <a href="https://www.indiana.edu/">Indiana University, Bloomington</a>. Her research focuses on Latino voting behavior in the U.S. Rosemarie earned a Bachelor’s degree in Political Science and
Chicana/o Studies from <a href="https://ucla.edu">UCLA</a>. She earned a Master’s degree in Political Science from <a href="https://w2.csun.edu/">California State University, Northridge</a>.</p>
{% endblock %}