{% extends 'base.html' %}



{% block body %}
	<div class='democrat'>
		<h2>Democrat</h2>
		<h3>All States</h3>
		<h4>Wordcloud</h4>
		<p class='wordcloud'>
			<img src="{{ url_for('static', filename='img/wordcloud-test-dem.png') }}" alt="Democratic wordcloud" />
		</p>
		<h4>Sentiment Analysis</h4>	
		<p class='sentiment' >		
			<img src="{{ url_for('static', filename='img/sentiment-test-dem.png') }}" alt="Democratic sentiment analysis"  />	
		</p>
	</div>
	<div class='republican'>
		<h2>Republican</h2>
		<h3>All States</h3>
		<h4>Wordcloud</h4>
		<p class='wordcloud'>
			<img src="{{ url_for('static', filename='img/wordcloud-test-rep.png') }}" alt="Republican wordcloud"  />
		</p>
		<h4>Sentiment Analysis</h4>	
		<p class='sentiment' >
			<img src="{{ url_for('static', filename='img/sentiment-test-dem.png') }}" alt="Republican sentiment analysis" />
		</p>
	</div>
{% endblock %}